.abtop {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 53px;
    padding-left: 58px;

}

.ablogo {
    width: 236px;
    height: 66px;
}

.abtext {
    font-family: 'Comic Sans', sans-serif;
    color: #1B406F;
    padding-left: 50px;
}

.abp {
    font-weight: bold;
}

.overskrift {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.aboverskrift {
    font-size: 34px;
    color: #1864AB;
    font-weight: bold;
}

.klikboksdiv {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 60px;
}

.lokale {
    width: 220px;
    height: 105px;
    background-color: #1B406F;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.overskrift2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.maincontent {
    display: flex;
    justify-content: center;
}

.vaalglokalebox {
    display: flex;
    width: 250px;
    height: 300px;
    background-color: #95A6B7;
}