@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/comic-sans-ms');


* {
  margin: 0 !important;


}

:root {
  --background: #845c5c;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #8c5f5f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}

.loginpage-con {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100vh;



}

.login-input-con {
  width: 100%;
  height: 65%;
  display: flex;
  background: rgba(255, 255, 255, 1);
  flex-direction: column;
  padding: 10%;
  gap: 10px;

}


.login-main-content-con {
  width: 100%;
  height: 40%;
  display: flex;
  background: rgba(255, 255, 255, 1);


}

.loginpage-content-con {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  width: 40%;
  height: 65vh;
  background: rgba(255, 255, 255, 1);



}


.login-btn-con {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 200px;
  color: rgba(27, 64, 111, 1);
  font-weight: 500;

}

.login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(27, 64, 111, 1);
  color: white;
  border-radius: 20px;
  width: 20%;
  height: 100%;
  transition: background-color 0.5s;
  transition: scale 0.5s;


}

.login-btn:hover{
scale:1.03;
background:rgb(74, 118, 176);
cursor:pointer;


}

.login-btn-con p:hover{
cursor:pointer;

}

.login-input-header {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: rgb(35, 69, 139);
  font-weight: 600;


}

.login-main-content-con img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

.dashboard-page-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100vh;
  gap: 20px;

}

.dashboard-logo-con {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  margin-left: 200px;
  padding-left: 70px;

}

.dashboard-usertitle-con {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(24, 100, 171, 1);
  font-weight: 700;
  font-size: 34px;

}

.dashboard-book-btn-con {
  width: 100%;
  height: 18%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: row;


}

.dashboard-book-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 70%;
  background: rgba(27, 64, 111, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color 0.5s;
  transition: scale 0.5s;


}

.dashboard-book-btn:hover{
scale:1.10;
background:rgb(74, 118, 176);
cursor:pointer;


}

.dashboard-coming-bookings-title-con {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  margin-left: 200px;
  color: rgba(24, 100, 171, 1);
  font-weight: 700;
  font-size: 22px;

}

.dashboard-coming-bookings-section {
  width: 84%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  align-items: flex-start;
  margin-bottom: 30px;
  gap: 20px;
  padding-top: 60px;



}

.dashboard-coming-bookings-con {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(149, 166, 183, 1);
  gap: 60px;


}

.dashboard-coming-bookings-btn-con {
  display: flex;
  width: 28%;
  height: 90%;
  flex-direction: column;
  background: white;
  padding-left:20px;
  padding-top:20px;


}

.dashboard-coming-bookings-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  width: 90%;
  height: 20%;
  background: rgba(27, 64, 111, 1);
  font-weight:600;
  font-size:16px;
  border-radius:32px;
  transition: background-color 0.5s;

}

.dashboard-coming-bookings-btn:hover{
scale:1.03;
background:rgb(74, 118, 176);
cursor:pointer;


}

.dashboard-coming-bookings-title{
font-size:18px;
font-weight:600;
width:90%;
height:20%;
color:black;


}

.dashboard-coming-bookings-btn-textcon{
width:90%;
height:40%;
font-weight:400;
font-size:16px;

}